@model Client

<h3><strong>Client ID :</strong> @Model.Id</h3>
<table class="table">
    <tr>
        <td><strong>Name</strong></td>
        <td><strong>Surname</strong></td>
        <td><strong>Gender</strong></td>
        <td><strong>Age</strong></td>
        <td><strong>Email</strong></td>
    </tr>
    <tr><td>@Model.Name</td><td>@Model.Surname</td><td>@Model.Gender</td><td>@Model.Age</td><td>@Model.Email</td></tr>
</table>

